%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  #app {
    @extend %full;
    min-width: 1366px;
    a {
      text-decoration: none;
    }
  }
}
.verify-code{
  margin-bottom: 0 !important;
  float: left;
}
.verify-input-area{
  display: none;
}
.verify-code-area{
  float: right;
  width: 44px !important;
}
.el-input-group__append{
  padding: 0 !important;
}
.cerify-code-panel {
  width: 130px;
}
.el-table th {
  background-color: #2a3542 !important;
  color: #fff;
  border-right: 1px solid #eee;
}
.page-content{
  background: #fff;
  span{
    margin-right: 10px;
  }
  p{
    margin: 10px 0;
  }
  .text-hd{
    font-weight: bold;
  }
}
.page-type-dig{
  margin-top: 10px;
}
.page-item{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .item-static{
    height: 100px;
    width: 19%;
    text-align: center;
    border: 1px solid #eee;
    h4{
      padding: 20px 0 10px 0;
    }
  }
}
.page-intro{
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .intro-item {
    width: 25%;
    text-align: left;
    .intro-hd {
      font-weight: bold;
      font-size: 16px;
    }
    .intro-text {
      font-size: 12px;
      color: #666;
    }
  }
}
.alRight{
  text-align: right;
  margin-top: 10px;
}